<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<style >
			* {
			  -webkit-box-sizing: border-box;
			     -moz-box-sizing: border-box;
			          box-sizing: border-box;
			}
			*:before,
			*:after {
			  -webkit-box-sizing: border-box;
			     -moz-box-sizing: border-box;
			          box-sizing: border-box;
			}

		.bhg {font-size: 14px; font-family: Arial;}
		.bhg table {width: 100%; font-size: 1em; border-collapse: collapse; table-layout: fixed; border-spacing: 0; position: relative;}
		.bhg table td, .bhg table th {border-style: solid; border-width: 1px; border-color: #ddd; padding: 0; vertical-align: top; white-space: nowrap;}

		.bhg-container {width: 600px; height: 200px; position: relative;}
		.bhg-pane, .bhg-pane-inner {overflow: hidden; position: relative;}
		.bhg-pane {z-index: 1;}
		.bhg-pane-inner {min-height: 100%; margin:0px; }
		.bhg-pane-inner .bhg-content {margin: -1px;}

		.bhg-scroll-x {overflow-x: scroll; overflow-y: hidden; margin: 0; height: 40px;}
		.bhg-scroll-y {overflow-x: hidden; overflow-y: scroll; margin: 0px -15px 0px 0px;}
		.bhg-scroll-none {overflow: hidden; margin:0;}
		.bhg-scroll-both {overflow: scroll; margin:0;}

		.bhg-head .bhg-pane {height: 36px;}

		.bhg-left {width: 200px;}
		.bhg-spacer {height: 15px;}
		.bhg-divider {width: 5px; background-color: #f2f2f2;}
		.bhg-content {z-index: 2; margin: -1px;}
		.bhg-content td div {height: 24px; padding: 3px 5px;}

		.bhg-resource-header {height: 24px; padding: 3px 5px;}
		.bhg-schedule-header {height: 26px;}
		.bhg-schedule-header th {width: 40px;}
		.bhg-schedule-header th div {padding: 3px 5px;}

		.bhg-bg {position: absolute; z-index: 1; left: 0; top: 0; bottom:0; margin: -1px; }
		.bhg-bg-grid {height: 100%;}
		.bhg-bg-grid  td {width: 40px;}

		.bhg-time {width: 40px;}
		</style>


	</head>

	<body>
		<p>Grid</p>
		<div id='sample' class="bhg bhg-container">
			<table>
				<thead class="bhg-head" >
					<tr style="height: 40px;">
						<td class="bhg-left">
							<div class="bhg-pane">
								<div class="bhg-scroll-none">
									<div class="bhg-pane-inner">
										<div class="bhg-content">
											<div class="bhg-resource-header">Resource header</div>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td class="bhg-divider"></td>
						<td class="bhg-content-x">
							<div class="bhg-pane">
								<div class="bhg-scroll-x">
									<div class="bhg-pane-inner" style="width:1000px;">
										<div class="bhg-content">
											<table class="bhg-schedule-header">
												<tbody>
													<tr>
														<th><div>1</div></th>
														<th><div>2</div></th>
														<th><div>3</div></th>
														<th><div>4</div></th>
														<th><div>5</div></th>
														<th><div>6</div></th>
														<th><div>7</div></th>
														<th><div>8</div></th>
														<th><div>9</div></th>
														<th><div>10</div></th>
														<th><div>11</div></th>
														<th><div>12</div></th>
														<th><div>13</div></th>
														<th><div>14</div></th>
														<th><div>15</div></th>
														<th><div>16</div></th>
														<th><div>17</div></th>
														<th><div>18</div></th>
														<th><div>19</div></th>
														<th><div>20</div></th>
														<th><div>21</div></th>
														<th><div>22</div></th>
														<th><div>23</div></th>
														<th><div>24</div></th>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</thead>
				<tbody class="bhg-body" >
					<tr>
						<td class="bhg-left">
							<div class="bhg-pane">
								<div class="bhg-scroll-y" style="height: 100px;" >
									<div class="bhg-pane-inner">
										<div class="bhg-content">
											<table>
												<tbody>
													<tr><td><div>one</div></td></tr>
													<tr><td><div>two</div></td></tr>
													<tr><td><div>three</div></td></tr>
													<tr><td><div>four</div></td></tr>
													<tr><td><div>five</div></td></tr>
													<tr><td><div>six</div></td></tr>
													<tr><td><div>seven</div></td></tr>
													<tr><td><div>eight</div></td></tr>
													<tr><td><div>nine</div></td></tr>
													<tr><td><div>ten</div></td></tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td class="bhg-divider"></td>
						<td class="bhg-content-x">
							<div class="bhg-pane">
								<div id="test" class="bhg-scroll-both" style="height: 100px;">
									<div class="bhg-pane-inner" style="width: 1000px;">
										<div class="bhg-content">
											<table>
												<tbody>
													<tr><td><div>one</div></td></tr>
													<tr><td><div>two</div></td></tr>
													<tr><td><div>three</div></td></tr>
													<tr><td><div>four</div></td></tr>
													<tr><td><div>five</div></td></tr>
													<tr><td><div>six</div></td></tr>
													<tr><td><div>seven</div></td></tr>
													<tr><td><div>eight</div></td></tr>
													<tr><td><div>nine</div></td></tr>
													<tr><td><div>ten</div></td></tr>
												</tbody>
											</table>
										</div>
										<div class="bhg-bg">
											<table class="bhg-bg-grid">
												<tbody>
													<tr>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
														<td><div></div></td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="the-grid"></div>

<!-- 		<div>
			<button id="add-cols">Add column</button>
		</div>
 -->
 		<p>Vue</p>
		<div id="app">
			<p>{{ message }}</p>

			<div id='vue-grid' class="bhg bhg-container">
				<table>
					<thead class="bhg-head" >
						<tr style="height: 40px;">
							<td class="bhg-left">
								<div class="bhg-pane">
									<div class="bhg-scroll-none">
										<div class="bhg-pane-inner">
											<div class="bhg-content">
												<div class="bhg-resource-header">{{message}}</div>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td class="bhg-divider"></td>
							<td class="bhg-content-x">
								<div class="bhg-pane">
									<div id="vue-grid-header" class="bhg-scroll-x">
										<div class="bhg-pane-inner" style="width:1000px;">
											<div class="bhg-content">
												<table class="bhg-schedule-header">
													<tbody>
														<tr>
															<th><div>1</div></th>
															<th><div>2</div></th>
															<th><div>3</div></th>
															<th><div>4</div></th>
															<th><div>5</div></th>
															<th><div>6</div></th>
															<th><div>7</div></th>
															<th><div>8</div></th>
															<th><div>9</div></th>
															<th><div>10</div></th>
															<th><div>11</div></th>
															<th><div>12</div></th>
															<th><div>13</div></th>
															<th><div>14</div></th>
															<th><div>15</div></th>
															<th><div>16</div></th>
															<th><div>17</div></th>
															<th><div>18</div></th>
															<th><div>19</div></th>
															<th><div>20</div></th>
															<th><div>21</div></th>
															<th><div>22</div></th>
															<th><div>23</div></th>
															<th><div>24</div></th>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</thead>
					<tbody class="bhg-body" >
						<tr>
							<td class="bhg-left">
								<div class="bhg-pane">
									<div id="vue-grid-left" class="bhg-scroll-y" style="height: 100px;" >
										<div class="bhg-pane-inner">
											<div class="bhg-content">
												<table>
													<tbody>
														<tr v-for="r in resources">
															<td><div>{{r.name}}</div></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</td>
							<td class="bhg-divider"></td>
							<td class="bhg-content-x">
								<div class="bhg-pane">
									<div id="test" class="bhg-scroll-both" style="height: 100px;" v-on:scroll="scrollSchedule($event)">
										<div class="bhg-pane-inner" style="width: 1000px;">
											<div class="bhg-content">
												<table>
													<tbody>
														<tr v-for="r in resources">
															<td><div>{{r.name}}</div></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="bhg-bg">
												<table class="bhg-bg-grid">
													<tbody>
														<tr>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
															<td><div></div></td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript">


		(function($) {



			var defaults = {
				numberOfDays: 7,
				numberOfSlotsPerDay: 2
			};

			function Grid(element, options) {
				var g = this;

				g.options = $.extend({}, defaults, options);
				g.today = moment().startOf('day');
				g.date_from = g.today.startOf('isoweek');

				// Data (for now test data)
				g.data = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten'];

				// Locals
				var content;

				// Render
				function renderPane(scroll, width, height, background, content) {
					var paneInner = $('<div></div>').addClass('bhg-pane-inner');
					if (width) {
						paneInner.css('width', width + 'px');
					}
					paneInner.append($('<div></div>').addClass('bhg-content').append(content));

					if (background) {
						// var bg = $('<div></div>').addClass('bhg-bg');
						// var table = $('<table></table>');
						var tr = $('<tr></tr>')
						var cols = g.options.numberOfDays * g.options.numberOfSlotsPerDay;
						for (i=0; i<cols; i++) {
							tr.append($('<td><div></div></td>'));
						}
						paneInner.append($('<div></div>').addClass('bhg-bg').append( $('<table></table>').addClass('bhg-bg-grid').append(tr)));
					}

					var paneScroll = $('<div></div>').addClass('bhg-scroll-' + scroll)
					if (height) {
						paneScroll.css('height', height + 'px');
					}
					paneScroll.append(paneInner);

					var pane = $('<div></div>').addClass('bhg-pane').append(paneScroll)
					return pane;
				}

				function renderResourceHeader() {
					return $('<div></div>').addClass('bhg-resource-header').text('Resouce header');
				}

				function renderResourceData() {
					var table = $('<table></table>');
					for (i=0; i<g.data.length; i++) {
						table.append($('<tr><td><div>' + g.data[i] +'</div></td></tr>'));
					}
					return table;
				}

				function renderScheduleHeader() {
					var minutesPerSlot = (24 * 60) / g.options.numberOfSlotsPerDay;

					// TODO: Make this more compact and efficient
					var table = $('<table></table>').addClass('bhg-schedule-header');
					var thead = $('<thead></thead>');

					var tr1 = $('<tr></tr>');
					var tr2 = $('<tr></tr>');
					var d = moment(g.date_from);
					for(i=0; i<g.options.numberOfDays; i++){
						// var t = d.format('ddd DD MMM');

					    tr1.append($('<td colspan="' + g.options.numberOfSlotsPerDay + '"><div><div></tr>').text(d.format('ddd DD/MM')));

					    var h = g.today;
					    for(j=0; j<g.options.numberOfSlotsPerDay; j++) {
							tr2.append($('<td><div></div></tr>').text(h.format('HH:mm')));
							h.add(minutesPerSlot, 'minutes');
					    }

					    d.add(1, 'days');
					}
					thead.append(tr1).append(tr2);

					return table.append(thead);
				}

				function renderScheduleData() {
					var table = $('<table></table>');
					for (i=0; i<g.data.length; i++) {
						table.append($('<tr><td><div>' + g.data[i] +'</div></td></tr>'));
					}
					return table;
				}

				g.render = function() {
					content = $('<div></div>').addClass('bhg')

					var table = $('<table></table>');
					var thead = $('<thead></thead>').addClass('bhg-head')
						.append($('<tr></tr>').css('height', '40px')
							.append($('<td></td>').addClass('bhg-left').append(renderPane('none', null, null, false, renderResourceHeader())))
							.append($('<td></td>').addClass('bhg-divider'))
							.append($('<td></td>').addClass('bhg-content-x').append(renderPane('x', 1000, null, false, renderScheduleHeader())))
						);
					table.append(thead);

					var tbody = $('<tbody></tbody>').addClass('bhg-body')
						.append($('<tr></tr>')
							.append($('<td></td>').addClass('bhg-left').append(renderPane('y', null, 100, false, renderResourceData())))
							.append($('<td></td>').addClass('bhg-divider'))
							.append($('<td></td>').addClass('bhg-content-x').append(renderPane('both', 1000, 100, true, renderScheduleData())))
						);
					table.append(tbody);

					content.append(table);

					element.append(content);


					// Events
					// ------

					// Scroll resouces
					tbody.find('.bhg-scroll-y').scroll(function () {
						// var t = $(this).scrollTop();
						tbody.find('.bhg-scroll-both').scrollTop( $(this).scrollTop() );
					});

					// Scroll schedule
					tbody.find('.bhg-scroll-both').scroll(function () {
						var t = $(this).scrollTop();
						var l = $(this).scrollLeft();

						// console.log("scroll - top: " + t + ", left: " + l);

						// Scroll the related panes
						thead.find('.bhg-scroll-x').scrollLeft(l);
						tbody.find('.bhg-scroll-y').scrollTop(t);

					});

				};


			}


			$.fn.grid = function(options) {
				// var settings = $extend({}, defaults, options);
				var result = this; // what this function will return (this jQuery object by default)


				this.each(function(i, _element) { // loop each DOM element involved
					var element = $(_element);
					var grid = element.data('bhGrid'); // get the existing calendar object (if any)
		// 			// var singleRes; // the returned value of this single method call

		// 			// a method call
					if (typeof options === 'string') {
		// 				if (grid && $.isFunction(calendar[options])) {
		// 					var args = Array.prototype.slice.call(arguments, 1); // for a possible method call
		// 					// singleRes = calendar[options].apply(calendar, args);
		// 					// if (!i) {
		// 					// 	res = singleRes; // record the first method call result
		// 					// }
		// 					// if (options === 'destroy') { // for the destroy method, must remove Calendar object data
		// 					// 	element.removeData('fullCalendar');
		// 					// }
		// 				}
					}
					// a new grid
					else if (!grid) { // don't initialize twice
						grid = new Grid(element, options);
						element.data('bhGrid', grid);
						grid.render();
					}
				});

				return result;

			};

		}(jQuery));


		var col_width = 42;
		var last_horizonal_position = 0;

		function add_first_column() {
			// Used to add columns when scrolling to the left (back in time)
			console.log("add column at the begin");

			// Add column a the end
			var n = parseInt($("table.bhg-schedule-header tr:first th:first-child div").text()) - 1;
			$("table.bhg-schedule-header tr").prepend("<th><div>" + n + "</div></th>");
			$("table.bhg-bg-grid tr").prepend("<td><div></div></td>");

			// Remove the first colum
			$("table.bhg-schedule-header tr th:last").remove();
			$("table.bhg-bg-grid tr td:last").remove();

			// Maintain the scroll position
			var l = $(".bhg-scroll-both").scrollLeft()
			$(".bhg-scroll-both").scrollLeft(l+col_width);			// Cell width
			$(".bhg-scroll-x").scrollLeft(l+col_width);
		}

		function add_last_column() {
			// Used to add columns when scrolling to the right (forward in time)
			console.log("add column at the end");

			// Add column a the end
			var n = parseInt($("table.bhg-schedule-header tr:first th:last div").text()) + 1;
			$("table.bhg-schedule-header tr").append("<th><div>" + n + "</div></th>");
			$("table.bhg-bg-grid tr").append("<td><div></div></td>");

			// Remove the first colum
			$("table.bhg-schedule-header tr th:first-child").remove();
			$("table.bhg-bg-grid tr td:first-child").remove();

			// Maintain the scroll position
			var l = $(".bhg-scroll-both").scrollLeft()
			$(".bhg-scroll-both").scrollLeft(l-col_width);			// Cell width
			$(".bhg-scroll-x").scrollLeft(l-col_width);
		}



		$(function() {
			$("#sample .bhg-scroll-both").scroll(function () {
				// alert('scroll');
				// console.log("Scroll");
				var t = $("#sample .bhg-scroll-both").scrollTop();
				var l = $("#sample .bhg-scroll-both").scrollLeft();

				// console.log("scroll - top: " + t + ", left: " + l);

				// Scroll the related panes
				$("#sample .bhg-scroll-y").scrollTop($("#sample .bhg-scroll-both").scrollTop());
				$("#sample .bhg-scroll-x").scrollLeft($("#sample .bhg-scroll-both").scrollLeft());

				// if (last_horizonal_position < l && l > 6 * col_width) {				// Must have space between left and right scrolling
				// 	// scroll right
				// 	add_last_column();
				// }
				// else if (last_horizonal_position > l && l < 3 * col_width) {
				// 	// Scroll left
				// 	add_first_column();
				// }
				// last_horizonal_position = l;

			});

			$("#add-cols").click(function() {
				add_first_column();
			})

			// $("#the-grid").grid();

			new Vue({
				el: '#app',
			  	data: {
			    	message: 'Hello Vue.js!',
					numberOfDays: 7,
					numberOfSlotsPerDay: 2,
					resources: [
						{name: 'one'},
						{name: 'two'},
						{name: 'three'},
						{name: 'four'},
						{name: 'five'},
					]
				},
				methods: {
					scrollSchedule (event) {
						console.log('got scrolling')

						if (event) {
							// debugger
							var top = event.target.scrollTop
							var left = event.target.scrollLeft

							// console.log(event.target.scrollTop)

							document.getElementById("vue-grid-left").scrollTop = top
							document.getElementById("vue-grid-header").scrollLeft = left


				      	}

						// var t = $this.scrollTop()
						// alert('scroll');
						// console.log("Scroll");
						// var t = $("#sample .bhg-scroll-both").scrollTop();
						// var l = $("#sample .bhg-scroll-both").scrollLeft();
                        //
						// // console.log("scroll - top: " + t + ", left: " + l);
                        //
						// // Scroll the related panes
						// $("#sample .bhg-scroll-y").scrollTop($("#sample .bhg-scroll-both").scrollTop());
						// $("#sample .bhg-scroll-x").scrollLeft($("#sample .bhg-scroll-both").scrollLeft());


					}
				}
			})


		});



		</script>
	</body>

</html>
